.menu a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 600;
    margin-left: 15px;
}
.menu a:hover{
    color: #0B5ED7;
}


@media only screen and (max-width: 770px){
.menubar{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.menu {
    margin-left: none;
}
.navbar-expand .navbar-nav{
    flex-direction: column;
}
.ms-auto{
    margin-left: 0;
}
}